@import "./../base/base.css";
@import "./../base/navigation.css";
@import "./../base/footer.css";

.membership {
  display: flex;
}

.membership_navigation_wrapper {
  flex-shrink: 0;

  width: 20%;
  height: 100vh;
}

.membership_navigation {
  position: fixed;
  top: 0;
  left: 0;

  width: 20%;
  height: 100%;
  padding-top: 60px;

  display: flex;
  flex-direction: column;
}

.membership_navigation_content {
  padding: 40px;
}

.membership_navigation_group:nth-child(1) {
  margin-bottom: 30px;
}

.membership_navigation_title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.membership_navigation_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.membership_navigation_button {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-grey-2);
}

.membership_navigation_contact {
  font-size: 12px;
  color: var(--color-grey-2);
}

.membership_navigation_button {
  background-color: transparent;
  cursor: pointer;
}

.membership_navigation_button:hover,
.membership_navigation_button.membership_navigation_button--active {
  color: var(--color-green-1);
}

.membership_navigation_button.membership_navigation_button--active {
  font-weight: 600;
}

.membership_navigation_signout {
  margin-top: auto;
}

.membership_navigation_signout_button {
  width: 100%;
  margin-top: auto;
  padding: 12px;
  background-color: var(--color-green-1);
  transition: all 0.3s;

  color: #fff;
  font-size: 20px;
  font-weight: 500;

  cursor: pointer;
}

.membership_navigation_signout_button:hover {
  background-color: var(--color-green-2);
}

.membership_content {
  flex-grow: 1;

  height: 100vh;
  overflow: auto;
  padding-top: 60px;
  background-color: var(--color-yellow-1);
}

.membership_content::-webkit-scrollbar-track {
  background-color: transparent;
}

.membership_content::-webkit-scrollbar {
  width: 6px;
}

.membership_content::-webkit-scrollbar-thumb {
  background-color: var(--color-grey-1);
  border-radius: 8px;
}

/* Profile */
.membership_profile {
  padding: 40px;
  display: none;
}

.membership_profile.membership_content--active {
  display: block;
}

.membership_profile_content {
  width: 80%;
  margin: 0 auto;
  padding: 50px;
  border-radius: 8px;
  border: 1px solid var(--color-grey-3);
  background-color: #fff;
}

.membership_profile_header {
  min-height: 150px;
  padding: 20px;
  border-radius: 8px;
  background-color: #eee;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 20px;
}

.membership_profile_header_icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.membership_profile_header_icon i {
  font-size: 24px;
  color: var(--color-grey-4);
}

.membership_profile_header_text {
  padding: 10px;
  font-size: 14px;
  text-align: center;
}

.membership_profile_header_buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.membership_profile_header_buttons button {
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #fff;

  display: flex;
  align-items: center;
  gap: 10px;

  font-weight: 500;
  color: var(--color-grey-1);
  cursor: pointer;
}

.membership_profile_header_buttons button:nth-child(2) {
  color: #d0342c;
}

.membership_profile_body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  row-gap: 20px;
}

.membership_profile_group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.membership_profile_label {
  width: fit-content;
  font-size: 14px;
}

.membership_profile_input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--color-grey-2);

  font-size: 16px;
  color: var(--color-grey-1);
}

.membership_profile_input::placeholder {
  font-size: 14px;
  color: var(--color-grey-3);
}

.membership_profile_input:disabled::placeholder {
  color: var(--color-grey-1);
}

.membership_profile_group:nth-child(5) {
  grid-column: 1 / -1;
}

.membership_profile_textarea {
  width: 80%;
  padding: 10px 20px;
  min-height: 150px;
  resize: none;

  color: var(--color-grey-1);
}

.membership_profile_save-button {
  width: 50%;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--color-orange-1);
  transition: all 0.3s;

  font-size: 20px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}

.membership_profile_save-button:hover {
  background-color: var(--color-orange-2);
}
/* Bookings */
.membership_bookings {
  padding: 40px;
  display: none;
}

.membership_bookings.membership_content--active {
  display: block;
}

.membership_booking {
  display: grid;
  grid-template-columns: 60fr 40fr;
  gap: 20px;

  padding: 20px 0;
  border-bottom: 1px solid var(--color-grey-1);
}

.membership_booking:nth-child(1) {
  padding-top: 0;
}

.membership_booking:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

.membership_booking_gallery {
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.membership_booking_pic {
  width: 100%;
  height: 100%;
}

.membership_booking_pic:nth-child(1) {
  height: 100%;
  grid-row: 1 / -1;
}

.membership_booking_info {
  display: flex;
  flex-direction: column;
}

.membership_booking_info_title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  color: var(--color-orange-1);
  margin-bottom: 10px;
}

.membership_booking_info_date i,
.membership_booking_info_guests i {
  padding-right: 10px;
  font-size: 16px;
  color: var(--color-grey-4);
}

.membership_booking_info_date,
.membership_booking_info_guests {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  font-size: 12px;
}

.membership_booking_info_product {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid var(--color-grey-3);
  background-color: #fff;

  transition: all 0.3s;
}

.membership_booking_info_product:last-child {
  margin-bottom: 0;
}

.membership_booking_info_product:hover {
  transform: translateY(-5px);
}

.membership_booking_info_product_title {
  display: flex;
}

.membership_booking_info_product_pic {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.membership_booking_info_product_name {
  width: 60%;
  font-size: 12px;
}

.membership_booking_info_product_price {
  font-weight: 500;
  color: var(--color-grey-1);
  font-size: 14px;
}

.membership_booking_info_rental_title {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-grey-1);
  margin-bottom: 10px;
}

.membership_booking_info_products {
  max-height: 200px;
  overflow: auto;
  margin-bottom: 15px;
}

.membership_booking_info_products::-webkit-scrollbar-track {
  background-color: transparent;
}

.membership_booking_info_products::-webkit-scrollbar {
  width: 6px;
}

.membership_booking_info_products::-webkit-scrollbar-thumb {
  background-color: var(--color-grey-3);
  border-radius: 8px;
}

.membership_booking_info_total {
  margin-bottom: 20px;
}

.membership_booking_info_total span {
  display: block;
  text-align: right;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-grey-1);
}

.membership_booking_info_comment {
  margin-top: auto;
}

.membership_booking_info_comment_button {
  width: 50%;
  padding: 10px;
  border-radius: 7px;
  background-color: var(--color-orange-1);
  transition: all 0.3s;

  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;

  cursor: pointer;

  position: relative;
}

.membership_booking_info_comment_button:hover {
  background-color: var(--color-orange-2);
}

.membership_booking_info_comment_button i {
  position: absolute;
  top: -10px;
  left: 102%;
  color: var(--color-orange-1);
}

/* Overlay */
.membership_overlay {
  position: fixed;
  top: 0;
  z-index: 999;

  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  display: none;
}

.membership_overlay--active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.membership_overlay_card {
  width: 40%;
  height: 50%;
  border-radius: 8px;
  box-shadow: var(--box-shadow-1);
  background-color: var(--color-yellow-1);

  display: flex;
  flex-direction: column;

  position: relative;
}

.membership_overlay_card_header_banner {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, -50%);

  padding: 8px 16px;
  background-color: var(--color-green-1);
  font-size: 14px;
  color: #fff;
}

.membership_overlay_card_cancel {
  position: absolute;
  top: 5%;
  right: 1%;

  width: 40px;
  height: 40px;

  font-size: 20px;
  cursor: pointer;
}

.membership_overlay_card_header {
  display: flex;
  align-items: center;

  padding: 20px 40px;
}

.membership_overlay_card_user-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 30px;
  background-color: var(--color-orange-1);

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.membership_overlay_card_user-name {
  font-size: 20px;
  font-weight: 500;
  padding-right: 20px;
}

.membership_overlay_card_rate {
  display: flex;
  gap: 5px;
  font-size: 16px;
}

.membership_overlay_card_rate i {
  color: #fff;
  -webkit-text-stroke: 1px var(--color-black-1);
  cursor: pointer;
}

.membership_overlay_card_rate i.active {
  color: var(--color-orange-1);
}

.membership_overlay_card_content {
  height: 50%;
  padding: 0 40px;
}

.membership_overlay_card_textarea {
  height: 100%;
  margin-top: 10px;
}

.membership_overlay_card_textarea textarea {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border-radius: 8px;
  resize: none;

  font-size: 14px;
}

.membership_overlay_submit {
  margin-top: auto;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}

.membership_overlay_submit_button {
  width: 100%;
  padding: 6px 12px;
  background-color: var(--color-orange-1);
  transition: all 0.3s;

  font-weight: 600;
  font-size: 18px;
  color: #fff;

  cursor: pointer;
}

.membership_overlay_submit_button:hover {
  background-color: var(--color-orange-2);
}

/* Reviews */
.membership_reviews {
  padding: 40px;
  display: none;
}

.membership_reviews.membership_content--active {
  display: block;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.membership_review {
  width: 70%;
  min-height: 250px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: var(--box-shadow-1);
  background-color: #fff;

  position: relative;
}

.membership_review_banner {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, -50%);

  padding: 5px 30px;
  background-color: var(--color-green-1);
  font-size: 16px;
  color: #fff;
}

.membership_features {
  position: absolute;
  top: 15%;
  right: 30px;

  display: flex;
  gap: 15px;

  font-size: 20px;
}

.membership_feature:nth-child(1) {
  color: var(--color-orange-1);
}

.membership_feature:nth-child(2) {
  color: #d0342c;
}

.membership_feature i {
  cursor: pointer;
}

.membership_review_header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.membership_review_user-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 30px;
  background-color: var(--color-orange-1);

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.membership_review_user-name {
  font-size: 24px;
  font-weight: 500;
  padding-right: 40px;
}

.membership_review_date {
  font-size: 14px;
  padding-right: 40px;
}

.membership_reivew_rate {
  display: flex;
  gap: 3px;
  color: var(--color-orange-1);
}

.membership_review_text {
  font-size: 14px;
}
/* RWD */
@media (min-width: 1600px) {
  .membership_navigation {
    padding-top: 80px;
  }

  .membership_navigation_title {
    font-size: 28px;
  }

  .membership_navigation_list {
    gap: 25px;
  }

  .membership_navigation_button {
    font-size: 20px;
  }

  .membership_navigation_contact {
    font-size: 16px;
  }

  .membership_navigation_signout_button {
    font-size: 24px;
  }

  .membership_content {
    padding-top: 80px;
  }

  /* Profile */
  .membership_profile_header {
    padding: 40px;
    min-height: 200px;
    margin-bottom: 30px;
  }

  .membership_profile_header_icon {
    width: 100px;
    height: 100px;
  }

  .membership_profile_header_icon i {
    font-size: 32px;
  }

  .membership_profile_header_text {
    padding: 20px;
    font-size: 18px;
  }

  .membership_profile_header_buttons button {
    padding: 12px 24px;
    font-size: 20px;
  }

  .membership_profile_body {
    column-gap: 100px;
    row-gap: 40px;
  }

  .membership_profile_group {
    gap: 10px;
  }

  .membership_profile_label {
    font-size: 20px;
  }

  .membership_profile_input {
    padding: 8px 16px;
    font-size: 22px;
  }

  .membership_profile_input::placeholder {
    font-size: 20px;
  }

  .membership_profile_textarea {
    padding: 15px 30px;
    min-height: 200px;
  }

  .membership_profile_save-button {
    padding: 10px 20px;
    font-size: 24px;
  }
  /* Bookings */
  .membership_booking {
    gap: 40px;
  }

  .membership_booking_info_title {
    font-size: 28px;
  }

  .membership_booking_info_date i,
  .membership_booking_info_guests i {
    padding-right: 20px;
    font-size: 24px;
  }

  .membership_booking_info_date,
  .membership_booking_info_guests {
    margin-bottom: 25px;
    font-size: 16px;
  }

  .membership_booking_info_product {
    margin-bottom: 25px;
  }

  .membership_booking_info_product_pic {
    width: 100px;
    height: 100px;
  }

  .membership_booking_info_product_name {
    font-size: 18px;
  }

  .membership_booking_info_product_price {
    font-size: 20px;
  }

  .membership_booking_info_rental_title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .membership_booking_info_products {
    max-height: 400px;
    margin-bottom: 20px;
  }

  .membership_booking_info_total span {
    font-size: 22px;
  }

  .membership_booking_info_comment_button {
    font-size: 24px;
  }

  /* Overlay */
  .membership_overlay_card_header_banner {
    padding: 10px 20px;
    font-size: 18px;
  }

  .membership_overlay_card_cancel {
    font-size: 24px;
  }

  .membership_overlay_card_header {
    padding: 40px;
  }

  .membership_overlay_card_user-pic {
    width: 50px;
    height: 50px;
    font-size: 32px;
    font-size: 28px;
  }

  .membership_overlay_card_user-name {
    font-size: 28px;
    padding-right: 50px;
  }

  .membership_overlay_card_rate {
    font-size: 20px;
  }

  .membership_overlay_card_textarea textarea {
    padding: 20px 40px;
    font-size: 20px;
  }

  .membership_overlay_submit_button {
    padding: 10px 20px;
    font-size: 24px;
  }
  /* Reviews */
  .membership_reviews {
    padding: 80px;
  }

  .membership_review_banner {
    font-size: 20px;
  }

  .membership_features {
    font-size: 28px;
  }

  .membership_review_user-pic {
    width: 60px;
    height: 60px;
    font-size: 28px;
  }

  .membership_review_user-name {
    font-size: 28px;
  }

  .membership_review_date {
    font-size: 16px;
  }

  .membership_review_text {
    font-size: 18px;
  }
}
