@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

@import "./grid.css";

:root {
  --color-grey-1: #555;
  --color-grey-2: #999;
  --color-grey-3: #bbb;
  --color-grey-4: #666;
  --color-yellow-1: #f2f2ea;
  --color-orange-1: #fc9780;
  --color-orange-2: #ff8e75;
  --color-green-1: #898d66;
  --color-green-2: #777a52;
  --color-black-1: #291306;

  --color-grey-opacity-1: rgb(85, 85, 85, 0.5);
  --color-green-opacity-1: rgb(163, 168, 120);
  --color-green-opacity-2: rgba(137, 141, 102, 0.349);
  --color-orange-opacity-1: rgb(252, 151, 128, 0.8);

  --box-shadow-1: 1px 2px 6px rgba(0, 0, 0, 0.3);
  --box-shadow-2: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: var(--color-grey-1);
}

picture {
  display: block;
  width: 100%;
}

img,
source {
  width: 100%;
  object-fit: cover;
  vertical-align: top;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--color-grey);
}

li {
  list-style: none;
}

button {
  display: block;
  border: none;
}

.header_bubble {
  max-width: 200px;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: var(--color-orange-1);
  margin: 0 auto 60px;

  text-align: center;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;

  position: relative;
}

.header_bubble_triangle {
  position: absolute;
  top: 100%;
  left: 50%;

  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;

  border-top: 8px solid var(--color-orange-1);
}

.no-scroll {
  overflow: hidden;
}

@media screen and (min-width: 1600px) {
  .header_bubble {
    max-width: 300px;
    padding: 10px 20px;
  }

  .header_bubble_triangle {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;

    border-top: 12px solid var(--color-orange-1);
  }
}
