.background-authentication {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.authentication {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;

  border-radius: 5px;
  width: 80%;
}

.authentication_pic {
  display: none;
}

.authentication_content {
  width: 100%;
  padding: 15px 20px;
  background-color: var(--color-yellow-1);
}

.authentication_header {
  margin-bottom: 35px;
}

.authentication_header_title {
  font-weight: 500;
  color: var(--color-black-1);

  width: 100%;
  position: relative;
  font-size: 18px;
}

.authentication_header_title span {
  color: var(--color-green-1);
}

.authentication_header_title span:last-child {
  display: block;
  color: var(--color-grey-1);

  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(100%);

  font-size: 12px;
}

.authentication_group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.authentication_group label {
  width: fit-content;
  margin-bottom: 5px;
  font-size: 12px;
}

.authentication_group input {
  width: 100%;
  border-radius: 6px;
  border: 1px solid var(--color-grey-2);
  color: var(--color-grey-1);

  padding: 3px 6px;
  font-size: 14px;
}

.authentication_group input::placeholder {
  color: var(--color-grey-opacity-1);
}

.authentication_button {
  margin-bottom: 5px;
}

.authentication_button button {
  border-radius: 4px;
  background-color: var(--color-green-1);
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 6px 12px;
}

.authentication_info {
  font-weight: 500;
  color: var(--color-grey-1);
  border-bottom: 1px solid var(--color-black-1);
  font-size: 12px;
  padding-bottom: 15px;
}

.authentication_info span {
  padding-right: 5px;
}

.authentication_info a {
  color: var(--color-green-1);
  position: relative;
}

.authentication_info a::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--color-green-1);

  position: absolute;
  top: 100%;
  left: 0;
}

.authentication_info a i {
  padding-left: 5px;
}

@media screen and (min-width: 1200px) {
  .authentication {
    border-radius: 10px;
    height: 80%;
  }

  .authentication_pic {
    display: block;
    flex-grow: 1;
  }

  .authentication_pic picture,
  .authentication_pic picture img {
    height: 100%;
    object-position: 50% 80%;
  }

  .authentication_content {
    width: 40%;
    padding: 30px;
  }

  .authentication_header {
    margin-bottom: 40px;
  }

  .authentication_header_title {
    font-size: 22px;
  }

  .authentication_header_title span:last-child {
    font-size: 14px;
  }

  .authentication_group input {
    padding: 5px 10px;
  }

  .authentication_group input::placeholder {
    font-size: 12px;
  }

  .authentication_button {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .authentication_button button {
    border-radius: 8px;
    padding: 8px 20px;
    transition: all 0.3s;
  }

  .authentication_button button:hover {
    background-color: var(--color-green-2);
  }

  .authentication_info {
    letter-spacing: -0.2px;
  }

  .authentication_info a:hover {
    color: var(--color-green-2);
  }

  .authentication_info a::after {
    transform: scale(1);
    transform-origin: right;
    transition: all 0.3s;

    position: absolute;
    top: 100%;
    left: 0;
  }

  .authentication_info a:hover::after {
    transform: scale(0);
  }
}

@media screen and (min-width: 1600px) {
  .authentication_content {
    padding: 50px;
  }

  .authentication_header {
    margin-bottom: 50px;
  }

  .authentication_header_title {
    font-size: 30px;
  }

  .authentication_header_title span:last-child {
    font-size: 22px;
  }

  .authentication_group {
    margin-bottom: 20px;
  }

  .authentication_group label {
    font-size: 18px;
  }

  .authentication_group input {
    font-size: 20px;
  }

  .authentication_group input::placeholder {
    font-size: 18px;
  }

  .authentication_button {
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .authentication_button button {
    padding: 12px;
    font-size: 22px;
  }

  .authentication_info {
    font-size: 18px;
    padding-bottom: 25px;
  }
}
