@import "./../base/base.css";
@import "./../base/navigation.css";
@import "./authemtication.css";

.background-authentication {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../../img/authentication/forget-back.png");
}

.authentication_info {
  text-align: right;
  border-bottom: none;
}

.authentication_group {
  margin-bottom: 10px;
}

.authentication_group input {
  width: 80%;
}

.authentication_button button {
  width: fit-content;
  padding: 5px 15px;
  font-size: 12px;
}

@media (min-width: 1200px) {
  .authentication_group {
    margin-bottom: 15px;
  }

  .authentication_group input {
    width: 70%;
  }
}

@media (min-width: 1600px) {
  .authentication_group {
    margin-bottom: 25px;
  }

  .authentication_button button {
    padding: 10px 20px;
    font-size: 16px;
  }
}
