@import "./../base/base.css";
@import "./../base/navigation.css";
@import "./authemtication.css";

.background-authentication {
  background: url("../../img/authentication/login-back.png");
}

.authentication_group input {
  width: 80%;
}

.authentication_group_forgotpassword {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

.authentication_group a {
  width: fit-content;

  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.2px;
  color: var(--color-green-1);

  margin-top: 5px;
  padding-bottom: 1px;

  position: relative;
}

.authentication_group a:hover {
  color: var(--color-green-2);
}

.authentication_group a::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--color-green-1);
  transform: scaleX(1);
  transform-origin: right;
  transition: all 0.3s;

  position: absolute;
  top: 100%;
  left: 0;
}

.authentication_group a:hover::after {
  transform-origin: right;
  transform: scaleX(0);
}

.authentication_group a i {
  padding-left: 5px;
}

.authentication_socials {
  padding-top: 20px;
}

.authentication_social {
  margin-bottom: 10px;
}

.authentication_social:last-child {
  margin-bottom: 0;
}

.authentication_social_button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 5px 10px;
  border-radius: 6px;
  border: 1px solid var(--color-grey-3);
  background-color: #fff;

  font-size: 14px;
  font-weight: 400;
  color: var(--color-grey-1);

  cursor: pointer;

  position: relative;
}

.authentication_social_button i {
  position: absolute;
  left: 20px;
}

.authentication_social:nth-child(1) .authentication_social_button i {
  color: #4267b2;
}

.authentication_social:nth-child(2) .authentication_social_button i {
  color: #db4437;
}

.authentication_social:nth-child(3) .authentication_social_button i {
  color: #1da1f2;
}

/* RWD */
@media (min-width: 1600px) {
  .authentication_group a {
    font-size: 16px;
  }

  .authentication_socials {
    padding-top: 40px;
  }

  .authentication_social {
    margin-bottom: 30px;
  }

  .authentication_social_button {
    font-size: 20px;
    padding: 8px 16px;
  }
}
