@import "./../base/base.css";
@import "./../base/navigation.css";
@import "./authemtication.css";

.background-authentication {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../../img/authentication/login-back.png");
}

.authentication_group input {
  width: 85%;
}

.authentication_group_forgotpassword {
  width: 85%;
  display: flex;
  justify-content: flex-end;
}

.authentication_group a {
  width: fit-content;
  font-weight: 500;
  color: var(--color-green-1);
  margin-top: 5px;
  position: relative;
  font-size: 10px;
}

.authentication_group a::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--color-green-1);

  position: absolute;
  top: 100%;
  left: 0;
}

.authentication_group a i {
  padding-left: 5px;
}

.authentication_socials {
  padding-top: 15px;
}

.authentication_social {
  margin-bottom: 10px;
}

.authentication_social:last-child {
  margin-bottom: 0;
}

.authentication_social_button {
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--color-grey-3);
  background-color: #fff;
  font-weight: 400;
  color: var(--color-grey-1);
  cursor: pointer;
  position: relative;

  padding: 5px;
  font-size: 14px;
}

.authentication_social_button i {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}

.authentication_social:nth-child(1) .authentication_social_button i {
  color: #4267b2;
}

.authentication_social:nth-child(2) .authentication_social_button i {
  color: #db4437;
}

.authentication_social:nth-child(3) .authentication_social_button i {
  color: #1da1f2;
}

@media screen and (min-width: 1200px) {
  .authentication_group_forgotpassword {
    width: 70%;
  }

  .authentication_group a {
    font-size: 12px;
    letter-spacing: -0.2px;
  }

  .authentication_group a:hover {
    color: var(--color-green-2);
  }

  .authentication_group a::after {
    transform: scale(1);
    transform-origin: right;
    transition: all 0.3s;
  }

  .authentication_group a:hover::after {
    transform: scale(0);
  }

  .authentication_group input {
    width: 70%;
  }

  .authentication_social_button {
    padding: 5px 10px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1600px) {
  .authentication_group a {
    font-size: 16px;
  }

  .authentication_socials {
    padding-top: 25px;
  }

  .authentication_social {
    margin-bottom: 20px;
  }

  .authentication_social_button {
    padding: 8px 16px;
    font-size: 18px;
  }
}
