@import "./../base/base.css";
@import "./../base/navigation.css";
@import "./authemtication.css";

.background-authentication {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../../img/authentication/register-main.png");
}

.authentication_signup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.authentication_group:nth-child(3),
.authentication_group:nth-child(4),
.authentication_group:nth-child(5),
.authentication_group:nth-child(6),
.authentication_button,
.authentication_info {
  grid-column: 1 / -1;
}

.authentication_group:nth-child(3),
.authentication_group:nth-child(5),
.authentication_group:nth-child(6) {
  width: 60%;
}

.authentication_group:nth-child(4) {
  width: 80%;
}

.authentication_info {
  border-bottom: none;
}

.authentication_button {
  margin: 2px 0 10px;
}

@media (min-width: 1200px) {
  .authentication_button {
    margin: 10px 0;
  }
}

@media (min-width: 1600px) {
  .authentication_signup {
    column-gap: 30px;
  }

  .authentication_group {
    margin-bottom: 10px;
  }

  .authentication_button {
    margin: 15px 0;
  }
}
